.header-text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}
.eco_system {
  padding-top: 76px;
  padding-bottom: 20px;
  overflow: hidden;
}
.low-hr {
  width: 51px;
  height: 1px;
  border: 1px solid #fff;
  color: #fff;
  margin: auto;
}

.eco-box {
  background: linear-gradient(
    180deg,
    rgba(179, 27, 193, 0.13) 0%,
    rgba(106, 9, 134, 0.13) 100%
  );
  backdrop-filter: blur(40.5px);
  /* Note: backdrop-filter has minimal browser support */
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    180deg,
    rgba(233, 155, 255, 0.17) 0%,
    #e99dff 52.08%,
    rgba(227, 132, 255, 0.17) 100%
  );
  padding: 60px 30px 27px;
  text-align: center;
  border-radius: 4px;
}
.eco-box p {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-top: 23px;
}

.eco-list-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
}

.eco-list {
  padding-bottom: 20px;
}

/* .eco-icon-box {
    background: rgba(23, 6, 66, 0.48);
    border-radius: 50%;
    padding: 32%;
} */
.token-box-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #020119;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 287px;
  object-fit: cover;
}

.swiper-slide img:hover {
  background: linear-gradient( 180deg, rgba(179, 27, 193, 0.13) 0%, rgba(106, 9, 134, 0.13) 100% );
-webkit-backdrop-filter: blur(40.5px);
backdrop-filter: blur(40.5px);
border: 2px solid;
  border-image-slice: 100%;
  border-image-source: none;
border-image-slice: 1;
border-image-source: linear-gradient( 180deg, rgba(233, 155, 255, 0.17) 0%, #e99dff 52.08%, rgba(227, 132, 255, 0.17) 100% );
 /* border: 2px solid rgb(174, 2, 174); */
 box-shadow: 0 0 32px 0 rgba(174, 2, 174, 0.54);
 transition: 400ms ease-in ;
 margin: 0.5px;
}
.eco-grid {
  padding-top: 2%;
  padding-bottom: 8%;
}

.side-1 {
  position: absolute;
  left: 0;
  z-index: -2;
  height: 226px;
  width: 386px;
  overflow: hidden;
}
.side-2 {
  position: absolute;
  right: 0;
  z-index: -2;
  height: 226px;
  width: 386px;
  overflow: hidden;
}

.eco-grid2 {
  display: none;
}

@media (max-width: 768px) {
  .eco-grid {
    display: none;
  }

  .eco-grid2 {
    display: block;
    padding-top: 2%;
    padding-bottom: 8%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 287px;
    margin: 0%;
    object-fit: cover;
    background: #020119;
  }

  .header-text h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    padding-bottom: 14px;
  }

  .token-box-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    flex-direction: column;
  }
}
