.footer{
    background: linear-gradient(180deg, rgba(179, 27, 193, 0.13) 0%, rgba(106, 9, 134, 0.13) 100%);
backdrop-filter: blur(27px);
}

.foot-grid{
    display: flex;
    justify-content: space-between;

    padding-top: 4%;
    padding-bottom: 4%;
}

.copy-right{

    border-top: 1px solid rgba(255, 255, 255, 0.32);
    padding: 20px 21px 10px;
    text-align: center;
  
}
.footer-logo img{
    width: auto;
    height: 40px;

}

.copy-right p{
font-weight: 400;
font-size: 14px;
line-height: 15px;

color: #FFFFFF;
}

.left-con{
    position: absolute;
    right: 0;
    margin-top: -27%;
}
.left-center{
    position: absolute;
    left: 0;
    margin-top: -24%;
    height: 366px;
    width: auto;
}

.light-icon{
    position: absolute;
    margin-top: -17%;
    left: 37%;
}