*{
  padding: 0;
  margin: 0;
scroll-behavior: smooth;
}



body {
  font-family: 'Inconsolata' !important;
  background-color: rgba(2, 1, 25, 1) !important;
  cursor: url('./Assets/point.png'),auto;

}
a{
  text-decoration: none !important;
  color: #fff ;

}
li{
  list-style: none !important;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

