*{
  padding: 0;
  margin: 0;
scroll-behavior: smooth;
}



body {
  font-family: 'Inconsolata' !important;
  background-color: rgba(2, 1, 25, 1) !important;
}
a{
  text-decoration: none !important;
  color: #fff ;

}



