.token-box{
    background: linear-gradient(180deg, rgba(179, 27, 193, 0.13) 0%, rgba(106, 9, 134, 0.13) 100%);
backdrop-filter: blur(19.5px);
border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient( 180deg, rgba(233, 155, 255, 0.17) 0%, #ffffff 52.08%, rgba(227, 132, 255, 0.17) 100% );
    padding: 4%;


}

.toko_system{
    padding-bottom: 187px;
    padding-top: 69px;
}
.token img{
    width: auto;
    height: 380px;
}
.token{
    margin-top: 4%;
    margin-bottom: 4%;
}
.token-box p{

font-size: 24px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
color: #ffffff;


}

.token-box h1{

font-size: 40px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: center;
color: #ffffff;

}

.light-icon2 {
    left: 20%;
    margin-top: -17.3%;
    position: absolute;
}

.token_details p
{
  color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    

}
.cold{
    position: absolute;
    left: 17%;
    margin-top: 2.5%;

}

.stake{
    position: absolute;
    margin-top: 15.2%;
    left: 20%;
}
.dex{
    position: absolute;
    left: 17%;
    margin-top: 23.9%;
}

.team-1{
    position: absolute;
    margin-top: -28%;
    left: 64%;
}

.stake-1{
    position: absolute;
    margin-top: -14.4%;
    left: 70%;
}

.exchange{
    position: absolute;
    margin-top: -4.5%;
    left: 72%;
}
.pc-tok{
    display: block;
}
.mob-tok{
    display: none;
}
@media (max-width:768px) {
    .token_details{
        display: none;
    }
    .pc-tok{
        display: none;
    }
    .mob-tok{
        display: block;
    }
    .token img {
        width: auto;
        height: auto;
        margin: 3%;
    }

    .token-box {

        margin: 5%;
    }

    .light-icon2 {
        left: -7%;
        margin-top: -21.3%;
        position: absolute;
    }
}